<div class="d-flex flex-column" style="margin-top:200px;">
    <div class="d-flex justify-content-center align-content-center">
        <div class="w-75 text-center">
            <h1>Ошибка</h1>
            <h3>Вы не можете удалить самого себя!</h3>
            <h5>Предлагаем Вам вернуться к <a class="no-wrap" asp-controller="Auth" asp-action="Users">Списку пользователей</a>!</h5>
        </div>
    </div>
</div>