@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<form asp-controller="Auth" asp-action="Register" method="post">
    <div class="row mb-1">
        <div class="col">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Surname" class="form-label"></label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <label asp-for="Login" class="form-label"></label>
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-1">
        <div class="col">
            <label asp-for="Region" class="form-label"></label>
            <input asp-for="Region" class="form-control" />
            <span asp-validation-for="Region" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="IsFromCity" class="form-label"></label>
            <select asp-for="IsFromCity" class="form-select">
                <option disabled selected style="display:none">Выберите опцию</option>
                <option value="0">Село</option>
                <option value="1">Город</option>
            </select>
            <span asp-validation-for="IsFromCity" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-1">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark mt-1">Зарегистрировать</button>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial">
    }
