@{
    ViewData["Title"] = "О сайте";
}

<h1>Добро пожаловать на сайт [Название домена]!</h1>
<h5>[Описание сайта]</h5>
<h6>Вы можете пройти форму нажав на эту кнопку:</h6>
<a asp-controller="Med" asp-action="Form" class="btn btn-dark">Пройти</a>