@{
    ViewData["Title"] = "Литература";
}
<div class="d-flex">
    <img class="rounded " src="~/img/literature.jpeg" width="320px" height="436px">
    <div class="px-2">
        <h5>Врожденные пороки сердца. Диагностика и лечение : учебное пособие для студентов</h5>
        <h6>Авторы: Миролюбов Л. М., Нурмеев И. Н.</h6>
        <h6>Издательство: Бриг</h6>
        <h6>ISBN: 978-5-98946-324-4</h6>
    </div>
</div>