@model int
@{
    ViewData["Title"] = "Результаты";
}

<h6>На данный момент в базе данных присутствует @Model заполеннных форм</h6>
<form class="d-flex" method="post">
    <button type="submit" class="btn btn-success" style="margin-right:10px;" asp-controller="Med" asp-action="Export" asp-route-numbers="False">Загрузить таблицу значений</button>
    <button type="submit" class="btn btn-success" asp-controller="Med" asp-action="Export" asp-route-numbers="True">Загрузить таблицу чисел</button>
</form>