@model FormModel
@{
    ViewData["Title"] = "Большое спасибо за прохождение формы!";
    int calculated = Model.Calculate();
}

<h3>Ваши результаты:</h3>
<ul>
    @if (calculated > 35)
    {
        <li>Абсолютные противопоказания к кислородотерапии! ИВЛ при необходимости, проводить воздухом;</li>
        <li>Внутривенное титрование простагландина E1 с начальной дозой 0,05 мкг/кг/мин. с последующим снижением дозы до 0,01-0,025 мкг/кг/мин. при достижении эффекта от терапии;</li>
        <li>Нормальзация кислотно-щёлочного состояния;</li>
        <li>Кардиотонические препараты, мочегонные;</li>
        <li>Транспонирование ребёнка в отделении кардиохирургии;</li>
        <li>Терапия продолжается всё время, включая вреям транспортировки в отделении кардиохирургии.</li>
    }
    else if (calculated > 20 && calculated <= 35)
    {
        <li>Терапия кислородом может быть назначена в зависимости от показателей пробы с кислородом;</li>
        <li>Нет показаний к титрованию простагландина E1;</li>
        <li>Мочегонные (лазикс) и инфузионная терапия в объёме две трети от значений физиологичеких потребностей.</li>
    }
    else if (calculated > 10 && calculated <= 20)
    {
        <li>Любая диагностическая группа находится в состоянии компенсации;</li>
        <li>Нет показаний к терапии;</li>
        <li>Дообследование с целью определения характера порока сердца в условиях кардиохирургического отделения в неонатальном периоде.</li>
    }
    else if (calculated > 0 && calculated <= 10)
    {
        <li>Сомнительно наличие ВПС;</li>
        <li>Показано дообследование в условиях отделения патологии новорождённых.</li>
    }
    else
    {
        <li>Количество данных за ВПС нет.</li>
    }
</ul>

<a asp-controller="Med" asp-action="FullResult" asp-route-id="@Model.Id" class="btn btn-primary">Подробные результаты</a>